@import './font/font.css';

@mixin flex($jc: center, $ai: center, $fd: row, $fw: nowrap) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-direction: $fd;
	flex-wrap: $fw;
}
.mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	opacity: 0;
	z-index:11111;
	transition: all 0.3s ease;
	&.active{
		display:block;
	}
	&.show{
		opacity:1;
		.pca-picker-box{
			transform: translateY(0);
		}
	}
}
.pca-picker-box {
	@include flex(flex-start, center, column, nowrap);
	$radius: 20rpx;
	position: absolute;
	transform: translateY(100%);
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: white;
	transition: all 0.3s ease;
}

.picker-head {
	@include flex(space-between, center, row, nowrap);
	width: 100%;
	box-sizing: border-box;
	padding: 30rpx;
	// margin-bottom: 30rpx;
	font-size: 35rpx;
	text-align: center;
	// text {
	// 	font-size: 35rpx;
	// 	text-align: center;
	// }
	// .icon-guanbi {
	// 	color: #c8c7cc;
	// }
}
.select-al-box {
	@include flex(flex-start, center, row, nowrap);
	width: 100%;
	margin-bottom: 10rpx;
	font-size: 28rpx;
	border-bottom:1rpx solid #bcbcbc;
	.select-al-item {
		padding: 10rpx 0;
		text-align: center;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
		transition: color 0.3s ease;
		font-size:32rpx;
		&.active {
			color: #ce3c39;
			border-bottom:5rpx solid red;
		}
	}
}
.swiper-box {
	width: 100%;
	flex: 1;
	swiper-item {
		height: 100%;
	}
	.adress-item {
		height: 100%;
		.item {
			padding: 20rpx;
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			transition: all 0.3s ease;
			&.active {
				color: #ce3c39;
			}
			&.active {
				text::before{
					display: inline-block;
				}
			}
			text{
				font-size: 26rpx;
			}
			text::before{
				display: none;
			}
		}
	}
}
